#trauma-card, #lgbt-card, #relationships-card {
  animation: slideInRight 1.5s ease-in-out forwards;
}


//=======================================
// Animation Keyframes
//=======================================
@keyframes slideInRight {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}