:root {
  background-image: url(../img/vector_landscape3.jpg);
  background-color: #1E174B;
}

a {
  transition: transform 0.2s ease-in-out;
  font-size: 1rem;
}

a:hover {
  transform: scale(1.2);
}

#about-denise {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#about-denise h1, #about-denise h2, #about-denise h3, #about-denise h4, #about-denise h5, #about-denise h6, #about-denise p {
  line-height: 0.95;
}

#about-denise-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 2rem;
}

.banner {
  max-height: 185px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  min-width: 350px;
}

#button-wrapper a {
  color: #f07a60;
  text-decoration: none;
}

#call-button {
  font-family: "Amatic Text", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: rgb(39, 35, 94);
  border: 3px solid #f07a60;
}

#read-button {
  font-family: "Amatic Text", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  border: 3px solid #f07a60;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center;
}

.card {
  background-image: radial-gradient(circle, #27235e, #2a1b56, #2d134d, #2e0944, #2e003b);
  width: 75%;
  min-width: 400px;
  margin: auto auto;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px black;
  text-shadow: 2px 2px 5px black;
  border: 15px solid #f07a60;
}
.card h1 {
  font-family: "Playfair Text", sans-serif;
  padding-bottom: 1rem;
}
.card h3, .card h4, .card p {
  font-family: "Patrick Text", sans-serif;
}
.card p {
  font-size: 1.5rem;
  line-height: 0.95;
}

.contrast {
  border-top: 10px double #41439A;
}

.center {
  text-align: center;
}

#denise-img {
  border-radius: 50%;
  max-width: 427px;
  max-height: 427px;
  aspect-ratio: 1;
  margin-bottom: 3rem;
  border: 25px solid #f07a60;
  outline: 55px dashed #f07a60;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 0;
}

#footer {
  font-family: "playfair Text", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: rebeccapurple;
}

#greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  border-radius: 50px;
  box-shadow: -2px 2px 15px darkorchid;
  background-color: #f4eafc;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 2px black;
  font: 3rem "Changa Text";
}
header li {
  transition: transform 0.2s ease-in-out;
  font-size: 1rem;
}
header li:hover {
  transform: scale(1.2);
}

.hero {
  position: relative;
  height: 75vh;
  width: 100vw;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px double rgb(39, 35, 94);
}

.hr-contrast {
  border-top: 5px solid #f07a60;
}

.icon {
  display: none;
}

.indented {
  padding-left: 2rem;
}

input:focus {
  outline: 2px solid #f07a60; /* Change #ff6347 to your desired color */
  outline-offset: 5px; /* Optional: Adjust the distance of the outline from the element */
}

textarea:focus {
  outline: 2px solid #f07a60; /* Change #ff6347 to your desired color */
  outline-offset: 5px; /* Optional: Adjust the distance of the outline from the element */
}

#logo {
  display: block;
  max-height: 150px;
  min-width: 300px;
  max-width: 300px;
  margin: 1rem;
  border-radius: 1rem;
}

.location {
  outline: 10px solid #f07a60;
  border-radius: 1rem;
  justify-content: space-between;
}
.location img {
  object-fit: none;
  max-width: 600px;
}
.location h4 {
  font-size: 1.5rem;
  padding: 2rem;
}

#location-area {
  align-items: center;
}

#map {
  outline: 15px solid #f07a60;
  border-radius: 1rem;
}

#map-wrapper {
  margin: 2rem auto;
}
#map-wrapper h4 {
  font-family: "Poppins Text", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 2rem;
}
nav li {
  padding: 0 1rem;
  text-shadow: 2px 2px 4px black;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-content h1 {
  font: 4rem "playfair text";
  color: white;
  text-shadow: 3px 2px 1px rgb(143, 7, 255);
  font-weight: 900;
}
.overlay-content p {
  font: 1.25rem "Merienda Text";
  color: white;
  text-shadow: 3px 2px 1px rgb(143, 7, 255);
  font-weight: 900;
}

#physical-address {
  text-decoration: none;
  color: #f07a60;
  transition: transform 0.2s ease-in-out;
  font-size: 2rem;
}

#physical-address:hover {
  transform: scale(1.2);
}

#small-logo {
  display: none;
}

.spacer {
  height: 8rem;
}

.spacer-small {
  height: 4rem;
}

#testimonials {
  background-color: black;
}

ul li {
  list-style-type: circle;
}

@media (min-width: 1000px) {
  #about-denise {
    flex-direction: row;
    outline: 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 6rem;
  }
}
@media (max-width: 800px) {
  a {
    line-height: 0.5em;
  }
  .fa-bars {
    display: block;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #logo {
    display: none;
  }
  li {
    margin-left: 1rem;
  }
  #small-logo {
    display: block;
    min-width: 75px;
    max-width: 75px;
    border-radius: 1rem;
    margin: 0 1em;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 1.2rem;
  }
  .fa-bars {
    display: block;
  }
  #greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  h1 {
    margin: 20px 0;
  }
  h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    border-top: 6px solid #ffffff; /* Style the line */
    transform: translateY(-50%);
  }
  header {
    display: flex;
    flex-direction: row;
  }
  .hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  hr {
    width: 95%;
  }
  .icon {
    display: block;
    float: right;
  }
  #index-hero {
    width: 100%;
    display: none;
  }
  #more h1 {
    margin-bottom: 3rem;
  }
  nav {
    display: none;
  }
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 75vw;
  }
  .overlay-content h1 {
    font: 3rem "playfair text";
    text-shadow: 2px 2px 0 rgb(143, 7, 255);
  }
  .overlay-content p {
    font: 1rem "Merienda Text";
    text-shadow: 1px 1px 0 rgb(143, 7, 255);
  }
  .spacer-small {
    height: 2rem;
  }
  #testimonials {
    flex-direction: column;
  }
}
@font-face {
  font-family: "Oswald Text";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Amatic Text";
  src: url("../fonts/AmaticSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bangers Text";
  src: url("../fonts/Bangers-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merienda Text";
  src: url("../fonts/Merienda-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Patrick Text";
  src: url("../fonts/PatrickHandSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Text";
  src: url("../fonts/playfair-display.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Text";
  src: url("../fonts/poppins.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cantora Text";
  src: url("../fonts/CantoraOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Changa Text";
  src: url("../fonts/ChangaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Coustard Text";
  src: url("../fonts/Coustard-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lilita Text";
  src: url("../fonts/LilitaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wendy Text";
  src: url("../fonts/WendyOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=hhh.css.map */
