:root {
  background-image: url(../img/vector_landscape3.jpg);
}

#about-denise {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#about-denise h1, #about-denise h2, #about-denise h3, #about-denise h4, #about-denise h5, #about-denise h6, #about-denise p {
  line-height: 0.95;
}

#about-denise-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 2rem;
}

#button-wrapper a {
  color: white;
  text-decoration: none;
}

#call-button {
  background-color: rgb(143, 7, 255);
  border: 2px solid rgb(179, 142, 193);
}

#read-button {
  border: 2px solid rgb(179, 142, 193);
}

#greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  border-radius: 50px;
  box-shadow: -2px 2px 15px darkorchid;
  background-color: #f4eafc;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center;
}

.card {
  background-color: #4D439A;
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px black;
  text-shadow: 2px 2px 5px black;
}
.card h1 {
  font-family: "Playfair Text", sans-serif;
  padding-bottom: 1rem;
}
.card h3, .card h4, .card p {
  font-family: "Patrick Text", sans-serif;
}
.card p {
  font-size: 1.5rem;
  line-height: 0.95;
}

.contrast {
  border-top: 10px double #41439A;
}

.center {
  text-align: center;
}

#contact-form {
  text-shadow: 2px 2px 4px black;
  outline: 4px rgb(30, 23, 75);
}
#contact-form p {
  font-family: Arial, sans-serif;
}

#denise-img {
  border-radius: 50%;
  max-width: 427px;
  max-height: 427px;
  aspect-ratio: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 2px black;
  font: 2rem "Marker Text";
}
header #logo {
  max-height: 150px;
  margin: 1rem;
  border: 1rem dotted rgb(143, 7, 255);
  border-radius: 1rem;
}
header li {
  transition: transform 0.2s ease-in-out;
  font-size: 1rem;
}
header li:hover {
  transform: scale(1.2);
}

.icon {
  display: none;
}

.hero {
  position: relative;
  height: 75vh;
  width: 100vw;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px double rgb(39, 35, 94);
}

#footer {
  font-family: "playfair Text", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: rebeccapurple;
}

#logo {
  min-width: 300px;
  max-width: 300px;
}

#small-logo {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 2rem;
}
nav li {
  padding: 0 1rem;
  text-shadow: 2px 2px 4px black;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-content h1 {
  font: 4rem "playfair text";
  color: white;
  text-shadow: 3px 2px 1px rgb(143, 7, 255);
  font-weight: 900;
}
.overlay-content p {
  font: 1.25rem "Merienda Text";
  color: white;
  text-shadow: 3px 2px 1px rgb(143, 7, 255);
  font-weight: 900;
}

#more {
  text-align: center;
}
#more h1 {
  font-family: "Patrick Text", sans-serif;
  text-shadow: 2px 2px 5px black;
}
#more p {
  text-shadow: 2px 2px 5px black;
}

#psychology-today-banner {
  max-height: 185px;
  border-radius: 1rem;
}

.spacer {
  height: 8rem;
}

.spacer-small {
  height: 4rem;
}

#specialty-box h3, #specialty-box p {
  font-family: "Oswald Text", sans-serif;
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 6rem;
  }
  #small-logo {
    display: none;
  }
  #about-denise {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  #small-logo {
    display: block;
    min-width: 75px;
    max-width: 75px;
    border: 10px dotted rgb(143, 7, 255);
    border-radius: 1rem;
  }
  #logo {
    display: none;
  }
  li {
    margin-left: 1rem;
  }
  a {
    line-height: 0.5em;
  }
  .icon {
    display: block;
    float: right;
  }
  .fa-bars {
    display: block;
  }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 1.2rem;
  }
  hr {
    width: 95%;
  }
  #index-hero {
    width: 100%;
    display: none;
  }
  #greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  h1 {
    margin: 20px 0;
  }
  h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    border-top: 6px solid #ffffff; /* Style the line */
    transform: translateY(-50%);
  }
  .hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .icon {
    display: block;
    float: right;
  }
  .fa-bars {
    display: block;
  }
  #logo {
    display: none;
  }
  #small-logo {
    display: block;
  }
  #more h1 {
    margin-bottom: 3rem;
  }
  nav {
    display: none;
  }
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 75vw;
  }
  .overlay-content h1 {
    font: 3rem "playfair text";
    text-shadow: 2px 2px 0 rgb(143, 7, 255);
  }
  .overlay-content p {
    font: 1rem "Merienda Text";
    text-shadow: 1px 1px 0 rgb(143, 7, 255);
  }
}
.spacer-small {
  height: 2rem;
}

#testimonials {
  flex-direction: column;
}

@font-face {
  font-family: "Oswald Text";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Amatic Text";
  src: url("../fonts/AmaticSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bangers Text";
  src: url("../fonts/Bangers-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flower Text";
  src: url("../fonts/IndieFlower-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merienda Text";
  src: url("../fonts/Merienda-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Patrick Text";
  src: url("../fonts/PatrickHandSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Marker Text";
  src: url("../fonts/PermanentMarker-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Text";
  src: url("../fonts/playfair-display.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Text";
  src: url("../fonts/poppins.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ranchers Text";
  src: url("../fonts/Ranchers-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rancho Text";
  src: url("../fonts/Rancho-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Schoolbell Text";
  src: url("../fonts/Schoolbell-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=hhh.css.map */
